body {
    background-color: darkgreen;
    font-family: Arial, sans-serif;
}


.fact-file {
    background-color: lightyellow;
    color: darkslategray;
    width: 260px;
    padding: 25px;
    border: 4px solid forestgreen;
    margin: 30px;
}


.animal-name {
    color: forestgreen;
    font-size: 22px;
}


.detail {
    color: darkslategray;
}


.cool-fact {
    color: darkorange;
    font-style: italic;
}